<div class="d-flex align-items-center justify-content-between">
  <div>
    <nz-form-label class="inline-labels">{{'ORDERS.CATEGORY' | translate}}</nz-form-label>
    <nz-form-item>
      <nz-select [nzPlaceHolder]="'ORDERS.CATEGORY' | translate" [formControl]="categoryControl"
        class="subservice-filter">
        <nz-option nzValue="" [nzLabel]="'ORDERS.ALL' | translate"> </nz-option>
        <nz-option *ngFor="let category of categories" [nzValue]="category" [nzLabel]="category.name_en">
        </nz-option>
      </nz-select>
    </nz-form-item>
  </div>

  <div>
    <nz-form-label class="inline-labels">{{'ORDERS.SERVICE' | translate}}</nz-form-label>
    <nz-form-item>
      <nz-select [nzPlaceHolder]="'ORDERS.SERVICE' | translate" [formControl]="serviceControl" class="list-filter">
        <nz-option nzValue="" [nzLabel]="'ORDERS.ALL' | translate"></nz-option>
        <nz-option *ngFor="let service of services" [nzValue]="service" [nzLabel]="service.name_en">
        </nz-option>
      </nz-select>
    </nz-form-item>
  </div>
</div>
<nz-table #utilsTable [nzData]="utils" (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total"
  [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>N</th>
      <th>{{'UTILS.DATE' | translate}}</th>
      <th>{{'UTILS.MASTERS' | translate}}</th>
      <th>{{'UTILS.CATEGORY' | translate}}</th>
      <th>{{'UTILS.SERVICE' | translate}}</th>
      <th>{{'UTILS.MINUTES' | translate}}</th>
      <th>{{'UTILS.PRICE' | translate}}</th>
      <th>{{'UTILS.GO_HOME' | translate}}</th>
      <th>{{'UTILS.GO_HOME_PRICE' | translate}}</th>
      <th>{{'UTILS.prepay_percent' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let util of utilsTable.data;let ind =index">
      <td>{{(ind + 1)+((pageIndex-1)*10) }}</td>
      <td>{{post.created_at | date:'yyyy-MM-dd' }}</td>
      <td>{{ util.user }}</td>
      <td>{{ util.category }}</td>
      <td>{{ util.service }}</td>
      <td>{{util.minutes | myTime}}</td>
      <td>{{ util.price }}</td>
      <td> <label nz-checkbox [(ngModel)]="util.go_home"></label></td>
      <td>{{util.go_home_price}}</td>
      <td>{{util.prepay_percent}}</td>

    </tr>
  </tbody>
</nz-table>