<nz-layout>
  <nz-sider nzCollapsible  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null" [nzTrigger]="null" (nzCollapsedChange)="toggleCollapsed($event)" nzWidth="200px" nzTheme="light">
    <app-left-bar [messagCount]="metric" [isCollapsed]="isCollapsed"></app-left-bar>
    <div class="app-header d-flex justify-content-center">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'left' : 'right'"></i>
      </span>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-top-bar></app-top-bar>
    </nz-header>
    <nz-content>
      <app-breadcrumb></app-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>