<nz-descriptions class="order-details" nzTitle="" [nzColumn]="2">
    <nz-descriptions-item [nzTitle]="'USER.FIRST_NAME' | translate"><span
            class="status-primary">{{info?.user?.first_name}}</span></nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'USER.LAST_NAME' | translate">{{info?.user?.last_name}}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'USER.EMAIL' | translate">{{info?.user?.email}}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'USER.CITY' | translate">{{info?.city}}</nz-descriptions-item>
</nz-descriptions>