<div class="title-container d-flex align-items-center  justify-content-between">
    <h1>{{'NAVIGATION.BOUGHT_TARIF' | translate}}</h1>
    <h3>{{'BOUGHT_TARIF.TOTAL' | translate}} {{totalSum}}</h3>
</div>
<!-- tarif filter -->
<nz-table #table [nzData]="tarifs" (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th>N</th>
            <th nzSortFn="true" (nzSortOrderChange)="sort($event,'buy_date')">{{'BOUGHT_TARIF.EXP_DATE' | translate}}
            </th>
            <th>{{'BOUGHT_TARIF.BUY_DATE' | translate}}</th>
            <th>{{'BOUGHT_TARIF.MASTER' | translate}}</th>
            <th>{{'BOUGHT_TARIF.TARIF' | translate}}</th>
            <th>{{'BOUGHT_TARIF.PRICE' | translate}}</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarif of table.data;let ind=index">
            <td style="width: 10px;">{{(ind + 1)+((pageIndex-1)*10) }}</td>
            <td>{{tarif?.expire_date | date:'yyyy-MM-dd'}}</td>
            <td>{{tarif?.created_at | date:'yyyy-MM-dd'}}</td>
            <td>{{tarif?.user_details?.username}}</td>
            <td>{{tarif?.tarif_details?.title_en}}</td>
            <td>{{tarif?.tarif_details?.price}}</td>

            <td>
                <i class="pointer" (click)="editTarif(ind)" nz-icon nzType="edit" nzTheme="outline"></i>
            </td>
            <td></td>
        </tr>
    </tbody>
</nz-table>