.login-form {
    max-width: 400px;
    margin: 50px auto;
    &-button {
        margin-bottom: 16px;
        width: 100%;
    }
}
.toggle-language {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
}
