.logo {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 2px;
    &.minimize {
        height: 30px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.side-nav-item:focus {
    outline: none;
}
.is-finish{
    color: rgb(184, 184, 184);
}