nz-card{
    margin-top: 15px;
}
  nz-select{
    width: 150px;
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .hastags-item{
    p{
      border: 1px solid #F9989C;
      padding: 5px 10px;
      margin-left: 5px;
    }
  }