<nz-modal [nzVisible]="true" (nzOnCancel)="closeModal()" nzWidth="870px">
    <div *nzModalContent>
        <nz-tabset>
            <nz-tab [nzTitle]="'POST.Description' | translate">
                <div *ngIf="imageObject && imageObject.length">
                    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
                </div>
                <nz-card [nzTitle]="'POST.Description' | translate">
                    <p>{{activePost?.text}}</p>
                </nz-card>
                <nz-card *ngIf="activePost?.hash_tag_posts && activePost?.hash_tag_posts.length" [nzTitle]="'POST.Hashtags' | translate">
                    <div class="d-flex align-items-center hastags-item flex-wrap">
                        <p *ngFor="let hashtag of activePost?.hash_tag_posts">#{{hashtag?.hash_tag_details?.text}}</p>
                    </div>
                </nz-card>
            </nz-tab>
            <nz-tab [nzTitle]="'POST.COMMENT' | translate">
               <app-post-comment [postId]="activePost?.id"></app-post-comment>
            </nz-tab>
        </nz-tabset>
    </div>
    <div *nzModalFooter>
        <div >
            <button nz-button *ngIf="activePost?.status == 'accepted'" nzType="default" (click)="cancelPost()">{{'POST.REJECT' | translate}}</button>
            <!-- <button nz-button nzType="primary" (click)="acceptPost()">{{'POST.ACCEPT' | translate}}</button> -->
        </div>
    </div>
</nz-modal>