<div class="d-flex align-items-center justify-content-center m-top-15">
    <nz-date-picker nzMode="month" [formControl]="dateControl" ></nz-date-picker>

    <div class="title">{{title}}</div>

</div>
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="false" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins"
       >
    </canvas>
</div>
