.title{
    margin: 5px 0;
}
:host::ng-deep{
    canvas{
        margin: 0 auto;
    }
    .chartjs-render-monitor{
        max-height: 500px !important;
        max-width: 996px !important;
    }
}
.m-top-15{
    margin-top: 15px;
    flex-direction: column;
}