.services {
    margin-top: 15px;
}
.services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    button {
        border-radius: 15px;
        padding: 10px;
        margin: 0 auto;
        border: none;
        // min-height: 100vh;
        // min-height:calc(var(--vh, 1vh) * 100);
        min-width: 320px;
        margin: 10px;
        flex-grow: 1;
    }
}
