<!-- <nz-calendar [(ngModel)]="date" [(nzMode)]="mode" ></nz-calendar> -->
<nz-calendar [nzFullscreen]="false" [formControl]="dateControl"></nz-calendar>
<div class="services">
    <button *ngFor="let item of services">{{item.service_details.name_en}}</button>

</div>
<div class="service-times d-flex align-items-center ">
    <nz-card *ngFor="let item of [1,2,3,4,5,6,7,5,8]" class="times-item">
        <div class="item d-flex align-items-center justify-content-between">
            <span>10:30 - 12:30</span>
            <div>Свободно</div>
        </div>
        <p>Наращивание ресний</p>
      </nz-card>
</div>