:host::ng-deep {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      width: 150px;
    }
  }
  .message{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    overflow: hidden;
  }