@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
body {
    font-family: "Oswald", sans-serif;
    min-width: 900px;
    max-width: 1920px;
    margin: 0 auto;
}
.title-container{
    margin: 10px 0;
    
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
  padding: 10px 16px !important;
}
.justify-content-center{
    justify-content:center
  }
  .red{
    color: red;
  }
  .yellow{
    color: #ffad40;
  }
  .green{
    color: #52c41a;
  }
  .pointer{
    cursor: pointer;
  }