@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
body {
    font-family: "Oswald", sans-serif;
    min-width: 900px;
    max-width: 1920px;
    margin: 0 auto;
}
.title-container{
    margin: 10px 0;
    
}
.message-icon{
  color: #F9989C;
  cursor: pointer;
  font-size: 25px;
}
.message{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
  padding: 10px 16px !important;
}
.justify-content-center{
    justify-content:center
  }
  .red{
    color: red;
  }
  .yellow{
    color: #ffad40;
  }
  .green{
    color: #52c41a;
  }
  .pointer{
    cursor: pointer;
  }