@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
body {
    font-family: "Oswald", sans-serif;
    min-width: 900px;
    max-width: 1920px;
    margin: 0 auto;
}
.title-container{
    margin: 10px 0;
    
}
.justify-content-center{
    justify-content:center
  }