// Spacing
.m-auto {
    margin: auto !important;
}

.m-0-auto {
    margin: 0 auto !important;
}

// Sizes
.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

// Display
.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

// Text
.text-center {
    text-align: center !important;
}

.font-bold {
    font-weight: bold !important;
}
