.categories-container{    
    width: 45%;
    border: 1px solid #F9989C;
    padding: 10px;
    margin-left: 5px;

}
.align-items-start{
    align-items:flex-start
}
img {
    width: 80px;
    height: auto;
    margin-top: 10px;
}